* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}



body {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.topo {
    text-align: center;

}

.DB-Icon {
    margin: 2px;
    height: 40px;
}

.whis-icon, .mai-icon, .vegeta-icon {
    margin: 0px 15px 8px 0px;
}

.bulma-icon, .dezoito-icon, .beerus-icon {
    margin: 0px 0px 8px 15px;
}

.mai-icon {
    position: relative;
    height: 30px;
    top: -2px;
    right: 3px;
}

.dezoito-icon {
    height: 35px;
}

.vegeta-icon {
    height: 32px;
}



.bulma-icon {
    position: relative;
    height: 50px;
    top: 8px;
    left: 3px;
}

.beerus-icon {
    position: relative;
    height: 40px;
    top: 3px;
    left: 5px;
}

.whis-icon {
    position: relative;
    height: 35px;
    left: 3px;
}

/*---*/

.pagina-inicial-images {
    border-top: solid 5px #ff9430;
    position: relative;
    height: 420px;
}

.fundo-pagina-incial {
    height: 420px;
    width: 100%;
    position: absolute;
}

.goku-pagina-incial {
    position: absolute;
    z-index: 1;
    height: 390px;
    bottom: 10px;
    left: 10px;
}

.dragonball-superlogo {
    position: absolute;
    z-index: 1;
    background-size: 100px;
    height: 40px;
    right: 20px;
    bottom: 10px;
}

.texto-pagina-incial {
    position: absolute;
    z-index: 5;
    height: 500px;
    right: -40px;
    bottom: 1.5px;
}

/*---*/

.whis {
    width: 600px;
    height: 200px;
    position: relative;
}

.background-whis {
    height: 200px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}

.fotodowhis {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.descriçãodowhis {
    position: absolute;
    height: 200px;
}

/*---*/

.mai {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.background-mai {
    height: 200px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}

.foto-da-mai {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.descrição-da-mai {
    position: absolute;
    height: 200px;
}

/*---*/

.vegeta {
    width: 600px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.background-vegeta {
    height: 200px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}

.foto-vegeta {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.descrição-Vegeta {
    position: absolute;
    height: 200px;
}

/*---*/

.bulma {
    width: 600px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.bulma-descricao {
    position: absolute;
    height: 200px;
}

.bulma-perfil {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.fundo-bulma {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

/*---*/

.dezoito {
    width: 600px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.fundo-18 {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

.descricao-18 {
    position: absolute;
    height: 200px;
}

.foto-18 {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.beerus {
    width: 600px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.fundo-beerus {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

.descricao-beerus {
    position: absolute;
    height: 200px;
}

.foto-beerus {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.linha-de-fundo {
    border-bottom: 7px solid rgb(250, 129, 30);
}

.fundo {
    display: inline-block;
    height: 30px;
    width: 600px;
    text-align: center;
    padding: 12px 0px 20px 0px;

}

.github img {
    height: 35px;
}

.linkedin img {
    height: 35px;
}

.texto-fundo {
    margin: 0;
    padding-bottom: 15px;
}