body {
    padding: 0;
    margin: 0;
    background-color: bisque;
    width: 600px;
    height: 200;
    min-height: 100%;
    box-sizing: border-box;

}

.topo {
    text-align: center;
}

.personagens-icon,
.DB-Icon {
    margin: 10px;
}

/*---*/

.pagina-inicial-images {
    position: relative;
    height: 420px;
}

.fundo-pagina-incial {
    height: 420px;
    width: 100%;
    position: absolute;
}

.goku-pagina-incial {
    position: absolute;
    z-index: 1;
    height: 390px;
    bottom: 10px;
    left: 10px;
}

.dragonball-superlogo {
    position: absolute;
    z-index: 1;
    background-size: 100px;
    height: 40px;
    right: 20px;
    bottom: 10px;
}

.texto-pagina-incial {
    position: absolute;
    z-index: 5;
    height: 500px;
    right: -40px;
    bottom: 1.5px;
}

/*---*/

.whis {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.background-whis {
    height: 200px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}

.fotodowhis {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.descriçãodowhis {
    position: absolute;
    height: 200px;
}

/*---*/

.mai {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.background-mai {
    height: 200px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}

.foto-da-mai {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.descrição-da-mai {
    position: absolute;
    height: 200px;
}

/*---*/

.vegeta {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.background-vegeta {
    height: 200px;
    width: 600px;
    position: absolute;
    object-fit: cover;
}

.foto-vegeta {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.descrição-Vegeta {
    position: absolute;
    height: 200px;
}

/*---*/

.bulma {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.bulma-descricao {
    position: absolute;
    height: 200px;
}

.bulma-perfil {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.fundo-bulma {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

/*---*/

.dezoito {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.fundo-18 {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

.descricao-18 {
    position: absolute;
    height: 200px;
}

.foto-18 {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

.beerus {
    width: 600px;
    height: 200px;
    background-color: rgb(150, 255, 220);
    position: relative;
}

.fundo-beerus {
    height: 200px;
    width: 600px;
    object-fit: cover;
}

.descricao-beerus {
    position: absolute;
    height: 200px;
}

.foto-beerus {
    position: absolute;
    height: 170px;
    top: 15px;
    left: 15px;
}

footer {
    display: inline;
    height: 20px;
    text-align: center;
    margin: 20px 20px;
}

